header{
  height: 100vh;
  padding-top: 1rem;
  overflow: hidden;
}

.header_container{
  text-align: center;
  height: 100%;
  padding-top: 2rem;
}

/*========= CTA ===== */

.cta{
  margin-top: 2.0rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.cta a{
  width: 12vw;
  background: var(--color-light);
  border: solid 1px var(--color-primary-variant);
  color: var(--color-primary);
}

.cta a:hover{
  background: var(--color-primary);
  color: var(--color-bg);
}

.images-container{
  display: flex;
  justify-content: center;
}

/*========= Header Socials ===== */

.header_socials{
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 5rem;
  margin-left: 6vw;
}

/*========= ME ===== */

.me{
  display: flex;
  width: 44rem;
  margin-left: 8vw;
  opacity: 0.9;
}


/*========= Scroll Down ===== */

.scroll_down{
  bottom: 6rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.4rem;
  z-index: 2;
}

/* ========== Media Queries (Medium) ========= */
@media screen and (max-width: 1024px) {
  header{
    height: 90vh;
  }
}

/* ========== Media Queries (Small) ========= */
@media screen and (max-width: 600px) {
  header{
    height: 900vh;
  }

  .me{
    border: red 1px solid;
    margin-top: 4vh;
    margin-left: -5vw;
    margin-right: -5vw;
  }

  .header_socials, .scroll_down{
    display: none;
  }

  .cta a{
    width: 28.5vw;
    font-size: 12px;
  }
}