header{
  height: 100vh;
  padding-top: 1rem;
  overflow: hidden;
}

.header_container{
  text-align: center;
  height: 100%;
  padding-top: 2rem;
}

/*========= CTA ===== */

.cta{
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.cta a{
  width: 12vw;
  background: var(--color-light);
  border: solid 1px var(--color-primary-variant);
  color: var(--color-primary);
}

.cta a:hover{
  background: var(--color-primary);
  color: var(--color-bg);
}

.images-container{
  display: flex;
  justify-content: center;
  position: relative;
}


/*========= ME ===== */

.me{
  display: flex;
  position: absolute;
  width: 44rem;
  opacity: 0.9;

}


/*=========fixed ===== */
.fixed-buttons{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  position: fixed;
  margin-top: 40vh
}

/*========= Header Socials ===== */

.header_socials{
  flex-direction: column;
  height: 20vh;
  width: 2rem;
  padding-top: 3.5vh;
}

/*========= Scroll Down ===== */

.scroll_down{
  transform: rotate(90deg);
  font-weight: 400;
  font-size: 1.4rem;
}

/* ========== Media Queries (Medium) ========= */
@media screen and (max-width: 1024px) {
  header{
    height: 90vh;
  }
}

/* ========== Media Queries (Small) ========= */
@media screen and (max-width: 600px) {
  header{
    height: 100vh;
  }

  .me{
    margin-top: 4vh;
    margin-left: 5vw;
    margin-right: -5vw;
  }

  .header_socials, .scroll_down{
    display: none;
  }

  .cta a{
    width: 28.5vw;
    font-size: 12px;
  }
}