header{
  height: 100vh;
  padding-top: 1rem;
  overflow: hidden;
}

.header_container{
  text-align: center;
  height: 100%;
  padding-top: 2rem;
  position: relative;
}

/*========= CTA ===== */

.cta{
  margin-top: 2.0rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.cta a{
  width: 11vw;
  background: var(--color-primary);
  color: var(--color-bg);
}

/*========= Header Socials ===== */

.header_socials{
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 2.7rem;
}

/*========= ME ===== */

.me{
  background: linear-gradient(var(--color-primary), transparent) ;
  width: 30rem;
  height: 40rem;
  position: absolute;
  left: calc(50% - 15rem);
  margin-top: 2rem;
  border-radius: 12rem 12rem 12rem 12rem;
  overflow: hidden;
  display: flex;
}


/*========= Scroll Down ===== */

.scroll_down{
  position: absolute;
  right: -2.3rem;
  bottom: 6rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.5rem;
}

/* ========== Media Queries (Medium) ========= */
@media screen and (max-width: 1024px) {
  header{
    height: 90vh;
  }
}

/* ========== Media Queries (Small) ========= */
@media screen and (max-width: 600px) {
  header{
    height: 100vh;
  }
  .header_socials, .scroll_down{
    display: none;
  }

  .cta a{
    width: 28.5vw;
    background: var(--color-primary);
    color: var(--color-light);
    font-size: 12px;
  }
}