.certificate_container{
  display: flex;
  flex-direction: column;
  height: 60vh;
  background: var(--color-bg-variant);
  border: 1.5px solid  var(--color-primary-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  margin-bottom: 4vh;
  transition: var(--transition);
}

.certificate_content{
  display: flex;
}

.certificate_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-primary);
  margin-bottom: 2vw;
}
.certificate_name h4{
  margin-left: 0.5vw;
}

.certificate_text{
  width: 35vw;
  text-align: justify;
  margin-right: 5vw;
}

.certificate_box_image{
  margin-top: -4vh;
  transition: var(--transition);
  cursor: pointer;
}

.certificate_box_image:hover{
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: -1px;
}




/* ========== Media Queries (Medium) ========= */
@media screen and (max-width: 1024px) {
  .certificate_container{
    grid-template-columns: 1fr;
  }
  .certificate_container > div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .certificate_content{
    padding: 1rem;
  }

 
  
}

/* ========== Media Queries (Small)========= */
@media screen and (max-width: 600px) {

  .certificate_container{
    padding: 1rem 1rem;
    height: 90vh;
  }

  .certificate_container h3{
    margin-left: 6vw;
    margin-top: 2vh;
  }
  
  .certificate_content{
    flex-direction: column;
  }
  
  .certificate_name {
    margin-top: -4vh;
    margin-left: -4vw;
  }
  
  .certificate_text{
    width: 60vw;
    height: 20vh;
    font-size: 12px;
    text-align: justify;
    margin-right: 0vw;
    margin-left: -4vw;
    margin-bottom: 8vh;
  }
  
  .certificate_box_image{
    margin-top: 0vh;
    transition: var(--transition);
  }
  
  .certificate_box_image:hover{
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: -1px;
  }
}