.certificate_container{
  display: flex;
  flex-direction: column;
  height: 60vh;
  background: var(--color-bg-variant);
  border: 1.5px solid  transparent;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  margin-bottom: 4vh;
  transition: var(--transition);
}

.certificate_container:hover{
  background: transparent;
  border: 1.5px solid  var(--color-primary-variant);
  cursor: pointer;
}

.certificate_container h3{
  color: var(--color-primary);
}

.certificate_content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
}

.certificate_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-white);
  margin-bottom: 2vw;
}
.certificate_name h4{
  margin-left: 0.5vw;
}

.certificate_text{
  width: 35vw;
  text-align: justify;
  margin-right: 5vw;
  color: var(--color-primary);
}

.certificate_box_image{
  cursor: pointer;
}

/* ========== Media Queries (Medium) ========= */
@media screen and (max-width: 1024px) {
  .certificate_container{
    grid-template-columns: 1fr;
  }
  .certificate_container > div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .certificate_content{
    padding: 1rem;
  }
  
}

/* ========== Media Queries (Small)========= */
@media screen and (max-width: 600px) {

  .certificate_container{
    height: 60vh;
    padding: 0rem 0rem;
  }

  .certificate_container h3{
    margin-left: 6vw;
    margin-top: 2vh;
  }
  
  .certificate_content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);;
  }
  
  .certificate_text{
    width: 100%;
    font-size: 12px;
    text-align: justify;
  }
  
  .certificate_box_image{
    margin-top: 4vw;
  }
  
}